body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  text-align: center;
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
.forms-content {
  text-align: left;
}
a {
  text-decoration: none;
  background-color: #007bff;
  padding: 10px;
  border-radius: 4px;
  color: white;
}
h1 {
  text-align: center;
  color: #333;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}
th {
  background-color: #007bff;
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
